.evolve-block {
    max-width: 300px;
    display:inline-block;
}

.pokemon-img {
    max-height: 50px;
    max-width: 80px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.evolve-block-wrapper {
    display:inline;
    margin-right:20px;
}

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: move;
}

.input-select2 {
    width:100%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.panel {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding:10px;
    position:relative;
}

.panel-fill {
    height:100%;
    width:100%;
}

.poke-panel {
    margin: 5px;
    display:inline-block;
    height:110px;
    width:110px;
}

.full-width {
    width: 100%;
}

.evolve-block span.ui-select-toggle {
    height:120px;
}
.evolve-block div.ui-select-container {
    height:120px;
}
.evolve-block ul.ui-select-choices {
    margin-top:-85px;
}

.toolbar {
    background-color: white;
    z-index: 999;
    width:100%;
    padding: 10px 10px 15px 0px;
}

.grid-line {
    display: table;
}



a.back-to-top {
    position: fixed;
    z-index:999;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    border-width: 0;
    font-size: 12px;
    padding: 1em;
    display: none;
    margin-right:10px;
}

a.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

.evolve-well {
    margin-bottom:0px !important;
}

.evolve-block {
    height: 500px;
    vertical-align: top;
}

.evolve-wrapper .dndPlaceholder {
    margin-left: 0;
    background-color: #e7e7e7;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding:10px;
    height:500px;
    width:237px;
    margin-right:20px;
}

.evolve-wrapper {
    margin-left:0;
    padding-left:0;
    margin-top:5px;
}
